.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container .viewSelect {
    justify-content: right;
    display: flex;
}

.container .viewSelect button {
    margin: 0.1rem;
    background: none;
    border: none;
    font: inherit;
    text-decoration: underline;
    color: var(--main-theme-color)
}

.container .viewSelect .active {
    text-decoration: none;
    color: var(--main-accent-color)
}